Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 10000
IceGrid.Node.Name=downloads-node
IceGrid.Node.Data=/tmp/db/downloads-node
IceGrid.Node.Endpoints=tcp

DownloaderFactoryAdapter.Endpoints=tcp -h 127.0.0.1 -p 10000
DownloaderFactoryIdentity=DownloaderFactory

TransferFactoryAdapter.Endpoints=tcp -h 127.0.0.1 -p 10000
TransferFactoryIdentity=TransferFactory

IceStormAdmin.TopicManager.Default=IceStorm/TopicManager:tcp -p 10000
IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000
IceStorm.TopicManager.Endpoints=tcp -p 10000
